* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Comic Sans, cursive;
    font-size: 16px;
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;;
}

main {
    width: 1080px;
    margin: auto;
}

header {
    margin: 80px 0px 0px;
}

.banner > h1 {
    font-size: 41px;
    font-style: italic;
    font-weight: lighter;
    position: relative;
    top: -60px;
    left: 0px;
    display: inline-block;
}

.h2 {
    text-align: center;
    font-style: normal;
    font-size: 26px;
    font-weight: bold;
    width: 1080px;
    position: absolute;
    top:280px;
    padding: 0px 20px ;
    border: 2px solid black;
}

h3 {
    font-style: italic;
}

p {
    position: relative;
    left: 30px;
}

span {
    font-weight: bold;
    font-style: normal;
}

.title > h3 {
text-align: center;
font-style: normal;
font-weight: lighter;
}

div.banner {
    width: 1080px;
    height: 200px;
    margin: auto;
    background-image: url(../img/image1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    position: relative;
    left: 560px;
    top: -220px;
    display: inline-block;
}

nav > a {
    background-color: royalblue;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin: 5px;
    border: 2px solid black;
    box-shadow: 3px 3px 2px gray;
    display: inline-block;
}

nav > a:hover {
    background-color:green
}


.article {
    position: relative;
    top: 50px;
    width: 920px;
}

#table {
    position: relative;
    left: 200px;
}

#rules {
    position: relative;
    left: 60px;
}

.container {
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items:start;
    align-content: start;
    gap: 30px;
}
.containerrules {
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items:start;
    align-content: start;
    gap: 20px;
}

.container > div, .text {
    margin-bottom: 20px;
}

/*table*/
caption {
    padding: 1rem;
    color: black;
    text-align: left;
    text-decoration: underline;
}

table {
    padding: 1rem;
    margin: auto;
}

thead {
    border: 1px solid black;
    background-color: ;
    color: ;
}

tbody {
    padding: 2rem;
}

th {
    padding: 1rem;
}

td {
    padding: 1rem;
}
